body {
    font-family: 'sans-serif';
    font-size: 14px;
    color: #fff;
    background-color: black;
    margin: 20 0 20 50;
     overflow-y: hidden;
    overflow-x: hidden;  
}

#FirstLayer {
    width: 100%;
    display: inline-block;
    margin-bottom: 21px;
    margin-left: 220px;
    position: absolute;
}

#channels{
    display:block;
    
    
}


UL {
    display: inline-block;
    list-style-type: none;
    padding-left: 0px;
    position: relative;
    bottom: 20;
}

#head {
    display: inline-block;
}

.channels {
    white-space: nowrap;
    width: 100% !important;
}


.ChName{
    z-index: 50;
      display: none !important; 
   /* visibility: hidden; */
    
    
}

#TimeLine {
    width: 288000px;
    margin-left: 430px;
}

.decription {
    margin-top: 25px;
    white-space: normal;
       background: #FFAA00 !important;
    text-align: center;
}

.footer {
    margin: 0 0 0 20;
margin-top: 545px;
}


.MainChannels{
    width: 150px;
    background: #4f4d4d;
    text-align: center;
    display: block;
    padding: 25px;
    margin: 0 0 10 0;
    
    
}

#ProgramDescription {
    display: inline-block;
    padding: 20px;
    background: #FFAA00;
    margin-top: 10px;
}

.footer {
    display: inline-block;
}

#channels1{
       position: absolute; 
       margin-top: 10px;
}
#DayToday {
    word-spacing: 50px;
    margin: 0 0 0 200;
    display: inline-block;
    position: relative;
    bottom: 40;
}

#TvGuide {
    display: inline-block;
    margin-left: 100px;
    position: relative;
    bottom: 30;
    font-size: 35px;
}

.MainChannels:hover {
    background: #FFAA00 !important;
}

.programs:hover {
    background: #FFAA00 !important;
}

#RedLine {
    position: absolute;
    z-index: 10;
    margin-left: 354px;
}

#hellopreloader>p {
    display: none;
}

#hellopreloader_preload {
    display: block;
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-width: 1000px;
    background: #35352F url(../img/preloader.gif) center center no-repeat;
}
